.pin-wrapper {
    display: inline-flex;
    padding: 8px;
    width: 230px;
    // max-height: 100%;
}

.pin-container {
    width: 230px;
    background-color: transparent; 
    border-radius: 18px;
    box-sizing: border-box;
    align-items: center;
    cursor: zoom-in;
    margin-bottom: 30px;

    &:hover .hidden-button {
        z-index: 1;
        opacity: 1;
    }

    &:hover .pin-img{
        z-index: -1;
        filter: brightness(70%)
    }
}

.pin-img {
    z-index: -1;
    width: 230px;
    height: 100%;
    object-fit: cover;
    display: flex;
    border-radius: 18px;
    box-sizing: border-box;
    align-items: center;
    cursor: zoom-in;
    margin-bottom: 30px;
}

.hidden-button {
    position: absolute;
    opacity: 0;
    margin: 12px;
    margin-left: 150px;
}

.save-button {
    float: right;
    border: none;
    color: white; 
    background-color: #e60023;
    width: 70px;
    height: 45px ;
    cursor: pointer;
    border-radius: 30px;
    font-size: 17px;
    font-weight: 540;
}

.ex-small {
    grid-row-end : span 20
}

.small {
    grid-row-end: span 25;
}

.medium {
    grid-row-end: span 33;
}

.large {
    grid-row-end: span 38;
}

.ex-large {
    grid-row-end: span 42;
}

