.pin-wrapper {
    display: inline-flex;
    padding: 8px;
    width: 230px;
    // max-height: 100%;
}

.pin-container {
    width: 230px;
    background-color: silver;
    border-radius: 18px;
    box-sizing: border-box;
    align-items: center;
    cursor: zoom-in;
    margin-bottom: 30px;
    img {
        object-fit: cover;
        display: flex;
        width: 100%;
    }
}

#small {
    grid-row-end: span 26;
}

#medium {
    grid-row-end: span 33;
}

#large {
    grid-row-end: span 36;
}

