.board-modal-background {
     position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(20, 20, 20, 0.4);
    z-index: 999;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

