.board-modal-background {
     position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(20, 20, 20, 0.4);
    z-index: 999;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

// test-commit

.board-dropmenu-container {
    position: absolute;
    background-color: white;
    box-shadow: 1px 1px 7px rgba(119, 118, 118, 0.2), -1px -1px 7px rgba(119, 118, 118, 0.2);
    color: black; 
    top: 70px; 
    // transform: translate(0%, 15%); 
    padding: 1em;
    width: 20em;
    max-height: 25em;
    overflow-y: scroll;
    border-radius: 15px;
    cursor: default;
    z-index: 999;

    & .board-save-title {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-align: center;
        font-size: 17px;
        font-weight: bold;
        margin: 0.5em 0 1.3em 0;
    }

    & span {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: grey;
        font-size: 13px;
        padding-left: 0.7em;
        float: left;
    }

}

.board-save-item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.3em 0 0.3em 0;
    padding: 0.5em;
    border-radius: 13px;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    font-weight: 540;
    align-items: center;

    & h3 {
        max-width: 70%;
    }
    
    & button {
        visibility: hidden;
        border: none;
        color: white;
        background-color: #e60023;
        width: 70px;
        height: 40px;
        border-radius: 30px;
        font-size: 15px;
        font-weight: 540;
        padding: none;
    }

    .board-saved-button {
        background-color: black;
    }

    &:hover {
        background-color: rgba(220, 220, 220, 0.5);

        & button {
            visibility: visible;
        }
    }
}

.board-form-container {
    padding: 0.5em;

    .board-form-title {
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 1em;
    }

    .board-input {
        width: 90%;
        height: 22px;
        border-radius: 15px;
        border-color: rgb(216, 215, 215);
        border-style: solid;
        padding: 12px;
        font-size: 16px;
        margin-bottom: 1em;
    }
    
    .board-input:hover {
        border-color: rgb(179, 176, 176);
    }
    
    .board-input:focus {
        outline: 4px solid rgb(174, 206, 255);
    }

    .delete-button {
        width: 100%;
        border: none;
        background-color: transparent;
        text-align: left;
        cursor: pointer;
        padding: 0;
        margin-left: 0.7em;

        & h3 {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 0.3em;
        }

        & span {
            font-size: 16px;
            color: rgb(153, 153, 153);
            font-weight: normal;
            line-height: 140%;
        }
    }

    & .public-check {
        width: auto;
        float: left; 
        margin: 0.7em;
    }

    & label {
        float: left; 
        font-size: 13px;
        color: gray;
        margin: 0.7em;
    }
    
    .input-filled {
        border: none;
        color: white;
        background-color: #e60023;
        width: 90px;
        height: 45px;
        cursor: pointer;
        border-radius: 30px;
        font-size: 17px;
        font-weight: 550;
        float: right;
        margin: 0.7em;
        padding: 0.2em 0.5em 0.2em 0.5em;
    }

    .input-empty {
        background-color: rgba(213, 213, 213, 0.3);
        border: none;
        color: rgb(113, 113, 113);
        width: 90px;
        height: 45px;
        border-radius: 30px;
        font-size: 17px;
        font-weight: 550;
        cursor: default;
        float: right;
        margin: 0.7em;
        padding: 0.2em 0.5em 0.2em 0.5em;
    }
}


